body{
    background: #eee;
}
.wrapper{
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.wrapper:after{
    content: "";
    display: block;
    clear: both;
}
.blue{
    background: blue;
    float: right;
}
.red{
    background: red;
    float: right;
}
.green{
    background: green;
    float: right;
}
.box{
    height: 100px;
    width:100px;
}